<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/post-style.css' | relative_url }}">   
    <link rel="stylesheet" href="{{ '/assets/blog-style.css' | relative_url }}">  
</head>
<body>

    {% include header.html %}

    <main>
        <div class="content-wrapper">
            <div class="post-content">
                <h1>{{ page.title }}</h1>
                <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
                <div class="content">
                    {{ content }} 
                </div>
            </div>

    {% include sidebar.html %}
    
        </div>
    </main>

    {% include footer.html % }
    
</body>
</html>
